# Snakemake garbage
.snakemake/*

# Slurm garbage
*slurm*

# VScode garbage
.vscode/*

# Big data files
**.fastq
**.fq
**.fastq.gz
**.fq.gz
**.bw
**.bam
**.fa
**.fa.gz

# Misc.
.~lock.*
sandbox/**



envs/**
**.smk
**/**.smk
**.*sv
**.yaml
**.py
**.md

scripts/js/*
scripts/rust/*
scripts/k8-0.2.4/*
scripts/py/*
.gitignore
config/config.yaml