# Snakemake garbage
.snakemake/*

# Slurm garbage
*slurm*

# VScode garbage
.vscode/*

# Big data files
# **.fastq
# **.fq
# **.fastq.gz
# **.fq.gz
# **.bw
# **.bam
# **.fa
# **.fa.gz

# Misc.
.~lock.*

# R/jupyter session files
.RData
.Rhistory

# slide_snake
sandbox/**
out/**
tmp/**
scripts/*/not_used/*
